.world {
    position: relative;
    padding: 48px 0;
    background: url('../img/map.jpg') center (center/cover) no-repeat;
    min-height: 720px;
    &__link {
        position: absolute;
        left: 50%;
		transform: translateX(-50%);
		bottom: 49px;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        line-height: 68px;
        text-transform: uppercase;
        color: $main-color;
        &:hover {
            color: $main-color;
        }
    }
}